.thumbnail-corner {
	padding: 0.1em 0.4em;
}

.vds-chapter-radio-label {
	word-wrap: break-word !important;
	overflow-wrap: break-word !important;
	white-space: normal !important;
}

.vds-chapter-radio-content {
	max-width: 200px !important;
}

.vds-kb-action {
	position: absolute !important;
	top: 50% !important;
	left: 50% !important;
}

.vds-chapter-radio {
	align-items: start !important;
}

.vds-time-divider {
	font-size: 0 !important;
	margin-right: 5px !important;
}

.sponsorskip-bar {
	position: absolute;
	margin-top: 2px;
	height: 5px;
	top: -1;
	border-radius: 1em;
}

.vds-time-slider {
	position: relative !important;
	width: 100% !important;
}

.vds-poster :where(img) {
	object-fit: cover !important;
}

.infinite-status-prompt {
	display: none !important;
}

main.root {
	padding-left: 7em !important;
	padding-top: 5em !important;
	max-height: 100vh;
	overflow-y: scroll;
}


@media screen and (max-width: 650px) {
	dialog.right {
		width: 100% !important;
	}
}

@media screen and (max-width: 650px) {
	main.root {
		padding-left: 0.1em !important;
		padding-right: 0.1em !important;
	}
}

@media screen and (max-width: 650px) {
	main.root {
		scrollbar-width: none !important;
	}
	
	main.root::-webkit-scrollbar {
		display: none !important;
	}
}

@media screen and (max-width: 1030px) {
	nav.tabbed {
		display: flex !important;
		flex-direction: column !important;
		gap: 0 !important;
		flex: 0 !important;
		margin-bottom: 1em !important;
		align-items: start !important;
		padding: 1em 0 !important;
	}

	nav.tabbed>a {
		font-size: 1.5rem !important;
		padding: .5em .3em !important;
		border-radius: 3em !important;
		margin-bottom: .5em;
	}

	nav.tabbed.small {
		block-size: 100% !important;
		border-radius: 0 !important;
	}
}